a{
    color: white;
    text-decoration: underline;
}
body,main{
    background-color: #002244;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.header{
    height: 80px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: white;

}

h1{
    padding: 35px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

}
nav li{
    display:block;
    text-align: center;
    padding-bottom: 5px;

}
#front{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
#title{
    text-align: center;
}

a#active{
    font-weight: bold;
    border: 5px 5px 5px 5px;
    color:#c04444;
    text-decoration: none;
    font-style: oblique;
}
.skip-to-content-link {
    left: 50%;
    position: absolute;
    transform: translateY(-31000%);
}
.skip-to-content-link:focus {
    transform: translateY(0%);
  }
  .ebay_box{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 15px;
}
#header_logo{
    height: 12%;
    width: 100%;
}
footer{
    background: #c04444;
    margin: 3px;
}
#contact{
    text-align: left;
}
.video{
    visibility:visible;
    width: 600px;
    height: 700px;
    display: block;
    padding-top:45px;
    width: 50%;
    margin: auto;
}
.contact1{
    padding-left: 20px;
    padding-bottom: 10px;
}


  @media screen and (min-width:600px) {

    nav{
        text-align: center;
        font-size: 30px;
    }
    nav li{
        display:inline-block;
        padding-top: 15px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 15;
    
    }
  }